.Legend {
  position: relative;
  border: 2px solid black;
  border-width: 1px 2px;
  background: black;
  background-size: 6px 6px;
  background-image: linear-gradient(to right, #444 1px, transparent 1px),
    linear-gradient(to bottom, #444 1px, transparent 1px);
}

.Legend ul {
  list-style: none;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
  color: black;
}

.Legend li {
  display: flex;
  align-items: center;
  min-width: 1px;
  padding: 4px 16px;
  line-height: 12px;
  font-size: 0.6rem;
  font-weight: var(--bold);
  text-align: center;
  border: 1px solid black;
}

.Legend li.disabled {
  background-color: #777;
}

.board-controls {
  position: absolute;
  top: -12px;
  z-index: var(--zBoardControls);
  text-align: center;
  left: 0;
  width: 100%;
}

.board-controls > span {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
}

/**************************************/
@media (max-width: 800px) {
  .Legend {
    padding-bottom: 32px;
  }

  .Legend li {
    display: none;
  }
}
