.Legend {
  list-style: none;
  top: 0;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
  border: 2px solid black;
  border-width: 1px 2px;
  background: black;
  background-size: 6px 6px;
  background-image: linear-gradient(to right, #444 1px, transparent 1px),
    linear-gradient(to bottom, #444 1px, transparent 1px);
}

.Legend li {
  position: relative;
  min-width: 1px;
  padding: 0 16px;
  line-height: 16px;
  font-size: 0.6rem;
  font-weight: var(--bold);
  text-align: center;
  border: 1px solid black;
  color: black;
}

.Legend li.red {
  background-color: #ff0000;
}

.Legend li.blue {
  background-color: #0000ff;
  color: white;
}

.Legend li.black {
  background-color: #010101;
  color: white;
}

.Legend li.white {
  background-color: #fefefe;
}

.Legend li.green {
  background-color: #00ff00;
}

.Legend li.yellow {
  background-color: yellow;
}

.Legend li.cyan {
  background-color: #00ffff;
}

.Legend li.orange {
  background-color: #ff6600;
}

.Legend li.disabled {
  background-color: #777;
}

/**************************************/
@media (max-width: 800px) {
  .Legend {
    gap: 0;
  }
}
