.StepSelector-p1 select {
  text-align: right;
}

.MoveSelector-moreInfo {
  font-weight: var(--bold);
}

.PlayerForm,
.StepSelector {
  width: 50%;
}

.PlayerForm-p2 .title span,
.StepSelector-p2 .title span {
  transform: skew(-25deg);
}

.PlayerForm-p2 .title,
.StepSelector-p2 .title {
  text-align: right;
  color: var(--colorP2);
}
