.Viewer-controls {
  display: flex;
  z-index: var(--zViewerControls);
}

.Viewer {
  max-width: 1600px;
  margin: 0 auto;
  z-index: 1;
}

.StepSelector select {
  position: absolute;
  top: 16px;
  left: 128px;
  width: calc(100% - 144px);
}

.StepSelector-p2 select {
  left: auto;
  right: 128px;
}

.step-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.step-controls .arrows button,
.board-controls .camera {
  background-image: url("../assets/iconmonstr-arrow-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 60%;
}

.board-controls .camera {
  background-image: url("../assets/iconmonstr-photo-camera-4.svg");
}

.dark-theme .step-controls button:disabled,
.dark-theme .board-controls button:disabled {
  color: var(--colorMain);
}

.dark-theme .step-controls .arrows button {
  background-image: url("../assets/iconmonstr-arrow-1-white.svg");
}

.dark-theme .step-controls .arrows button:disabled {
  background-image: url("../assets/iconmonstr-arrow-1.svg");
}

.dark-theme .board-controls .camera {
  background-image: url("../assets/iconmonstr-photo-camera-4-white.svg");
}

.StepSelector-p2 .step-controls .shortcuts {
  order: 2;
  text-align: right;
}

.StepSelector-p2 .step-controls .arrows {
  order: 1;
}

.board {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  margin-top: -12px;
  background-color: #777;
  background-size: 48px 48px;
  background-image: linear-gradient(to right, teal 1px, transparent 1px),
    linear-gradient(to bottom, teal 1px, transparent 1px);
  border: 2px dashed black;
  box-sizing: border-box;
}

.board:focus {
  border-color: white;
}

.board.scanlines {
  cursor: not-allowed;
}

.board.scanlines::before,
.board.scanlines::after {
  content: "";
  position: absolute;
  z-index: var(--zBoardScanlines);
  width: 100%;
  height: 100%;
}

.board.scanlines::before {
  background-size: 2px 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 3%) 1px,
    transparent 1px
  );
}

.board.scanlines::after {
  background-size: 2px 2px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 20%) 1px,
    transparent 1px
  );
}
